[global]
databases=database1,database2,database3
# 并发配置
parallel = 8

[source]
host=source-mongodb-host
port=27017
username=source-username
password=source-password

[target]
host=target-mongodb-host
port=27017
username=target-username
password=target-password
